<!-- The edit company view -->
<section data-ng-controller="SitesController" data-ng-init="findOne()">
	<h1>Edit site</h1>
	<!-- The edited company form -->
	<form data-ng-submit="update()" novalidate>
		<div>
			<label for="title">site Name</label>
			<div>
				<input type="text" data-ng-model="site.name" id="name" placeholder="site name" required>
			</div>
		</div>
		<div>
			<label for="name">Name</label>
			<div>
				<textarea data-ng-model="site.name" id="name" cols="30" rows="10" placeholder="Name"></textarea>
			</div>
		</div>
		<div>
			<input type="submit" value="Update">
		</div>
		<!-- The error message element -->
		<div data-ng-show="error">
			<strong data-ng-bind="error"></strong>
		</div>
	</form>
	</div>
</section>